.item{
    padding: 10px ;
    background-color: gray;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-gap:10px;
}
@media screen and (max-width: 768px){
    .item{
        background-color: aqua(#b6a5a5);
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 768px){
    .item{
        background-color: aqua(#b6a5a5);
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 375px){
    .item{
        background-color: aqua(#b6a5a5);
        grid-template-columns: 1fr;
    }
}